@using WeddingPlanner.Models
@model Users
<h1>Login to this Cool Site!</h1>
<h3><a href="/">Register</a></h3>
<form asp-action="login" asp-controller="Home" method="post">
    <span asp-validation-for="Email"></span>
    <p>Email: <input type="email" asp-for="Email"></p>
    <span asp-validation-for="Password"></span>
    <p>Password <input type="password" asp-for="Password"></p>
    <input type='submit' value="Login">
</form>